<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row " >
            <div class="col-md-6 offset-md-3  mt90">
              <mat-card>
                <div class="container text-center">
                  
                  <img src="../../../assets/signuplogo.png" height="100px" width="100px">
                 
                </div>
                <h1 class="text-center">Login</h1>
                  <!-- {{loginuser | json}}   -->
                <form (ngSubmit)="formSubmit()">
                    <!-- USER NAME FIELD -->
                    <p>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>User Name</mat-label>
                          <input 
                         [(ngModel)]="loginuser.username"
                          name="username"
                          matInput placeholder="Enter Here" required>
                          <mat-hint>Valid User Name</mat-hint>
                        </mat-form-field>
                      </p>
                      <!-- PASSWORD -->
                      <p>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>User Password</mat-label>
                          <input 
                          [(ngModel)]="loginuser.password"
                          type="password"
                          name="password"
                          matInput placeholder="Enter Here" required>
                          <mat-hint>Case Senstive Password</mat-hint>
                        </mat-form-field>
                      </p>
                    
                      <div class="container text-center">
                        <button mat-raised-button color="primary" type="submit">Login</button>
                        <button mat-raised-button color="accent" style="margin-left: 15px;">Reset</button>                        
                      </div>
                </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>
