.example-header-image{
    background-image: url("../../../../assets/test.png");
}


.ml10{
    margin-left: 10px;
}
.mt10{
    margin-top: 10px;
}
.mr10{
    margin-right: 10px;
}
.mb10{
    margin-bottom: 10px;
}

.ml20{
    margin-left: 10px;
}
.mt20{
    margin-top: 10px;
}
.mr20{
    margin-right: 10px;
}
.mb20{
    margin-bottom: 10px;
}