<mat-toolbar color="primary">
    <a mat-icon-button 
    routerLink="/"
    class="example-icon" 
    aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a 
    mat-icon-button 
    class="example-icon favorite-icon" 
    aria-label="Example icon-button with heart icon" 
    routerLink="/login">
      <!-- <mat-icon>favorite</mat-icon> -->
      Login
    </a>
    <a mat-icon-button 
    class="example-icon ml20" 
    aria-label="Example icon-button with share icon" 
    routerLink="/signup">

      Signup
    </a>
  </mat-toolbar>
