<mat-card>
    <h1>Add New Quiz</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                
                <form (ngSubmit)="addQuiz()">
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Enter Title</mat-label>
                        <input 
                        [(ngModel)]="quizData.title"
                        type="text" name="title" placeholder="Enter Here" matInput required>
                    </mat-form-field>

                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Enter Description</mat-label>
                        <textarea 
                        [(ngModel)]="quizData.description"
                        type="text" name="description" required placeholder="Enter Here" rows="15" matInput></textarea>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Maximum Marks</mat-label>
                                <input 
                                [(ngModel)]="quizData.maxMarks"
                                type="text" name="maxMarks" placeholder="Enter Here" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Number Of Question</mat-label>
                                <input 
                                [(ngModel)]="quizData.numberOfQuestion"
                                type="text" name="numberOfQuestion" placeholder="Enter Here" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-slide-toggle [(ngModel)]="quizData.active"
                    name="active"
                    class="mt20"
                    [checked]="false"
                    >
                  Publish Status
                </mat-slide-toggle>
                <br>
                <mat-form-field appearance="fill" class="w100 mt20">
                    <mat-label>Categories</mat-label>
                    <mat-select  name="category"  [(ngModel)]="quizData.category">
                      <mat-option *ngFor="let c of categories" [value]="c">
                        {{c.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="container text-center mt20">
                    <button  type="submit" mat-raised-button color="primary" >Add</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>

{{quizData | json}}